@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  * {
    box-sizing: border-box;
    padding: 0;
    font-family: "Inter", sans-serif;
    margin: 0;
  }

  html,
  *,
  body {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  html {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    padding-left: calc(100vw - 100%);
  }

  input,
  textarea,
  input:focus {
    outline: 0;
  }

  /* input {
		border: 1px solid #000;
	}
	textarea {
		border: 1px solid #000;
	} */

  body {
    color: #000000;
    background-color: #fafafa;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    font-weight: 500;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    font-size: inherit;
    font-weight: 600;
    line-height: 1.3;
    color: #000000;
  }

  h1 {
    font-size: 64px;
    letter-spacing: -0.04em;
  }

  h2 {
    font-size: 56px;
    font-weight: 600;
    letter-spacing: -0.04em;
  }

  h5 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }

  p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  @media screen and (max-width: 767px) {
    h1 {
      font-size: 24px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
    }

    h2 {
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0em;
    }

    h5 {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0em;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
    }
  }

  button,
  li,
  ol,
  a,
  span {
    font-family: "Inter", sans-serif;
  }

  li,
  ul,
  ol {
    list-style: none;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .navbar-nav .navbar-nav-items a {
    @apply font-primary text-[15px] font-normal leading-[16.94px] text-center;
  }

  .nav-center {
    left: calc(50% - 112.1px);
  }

  .selected-path {
    background-color: #e4e4e7;
    border-radius: 8px;
  }

  .search-input {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #707070;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    .search-input {
      width: calc(100% - 40px);
    }
  }

  .form-input {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #707070;
    width: 100%;
  }

  /* @media screen and (max-width: 767px) {
    .form-input {
      width: calc(100% - 40px);
    }
  } */

  .search-input::placeholder {
    color: #707070;
  }

  .drop-down {
    border-radius: 12px;
    background-color: white;
    border: 1px solid #e4e4e7;
  }

  .drop-down-text {
    line-height: 24px;
    color: #707070;
    font-size: 16px;
    cursor: pointer;
  }

  .drop-down-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 11px;
    padding-left: 12px;
    cursor: pointer;
  }

  .react-hot-toast {
    z-index: 9999999;
  }
}

@layer utilities {
  .custom-container {
    max-width: 1420px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 991px) {
    .custom-container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media screen and (max-width: 767px) {
    .custom-container {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .line-clamp-6 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .button-primary {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.03em;
    text-align: center;
    width: 160px;
    height: 40px;
    padding: 10px 25px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-color: #c6aaff;
    color: #ffffff;
  }

  .button-secondary {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: center;
    max-width: 200px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #000000;
  }

  .button-accent {
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -1%;
    text-align: center;
    height: 30px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #000000;
  }

  .button-primary:hover {
    background-color: #351a6b;
  }

  /* @media screen and (max-width: 767px) {
    .button-primary {
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.03em;
      padding: 10px 12px;
      max-width: 122px;
      height: 34px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  } */

  .cta-content-box,
  .our-technology-cards-item .card-modal {
    box-shadow: 8px 40px 80px -16px #00000080;
  }

  .modal-shadow {
    box-shadow: 8px 40px 80px -16px #00000080;
  }

  .our-technology-cards-item .card-modal:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .top-pick-card-shadow {
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .banner-modal-shadow {
    box-shadow: 0 4px 4px 0 #00000040;
  }

  .mobile-menu {
    right: -100%;
    transition: all 170ms ease 0s;
    -webkit-transition: all 170ms ease 0s;
    -moz-transition: all 170ms ease 0s;
    -ms-transition: all 170ms ease 0s;
    -o-transition: all 170ms ease 0s;
  }

  .mobile-menu.open-menu {
    right: 0;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
    -moz-transition: all 350ms ease 0s;
    -ms-transition: all 350ms ease 0s;
    -o-transition: all 350ms ease 0s;
  }

  .mobile-modal {
    bottom: -100%;
    transition: all 170ms ease 0s;
    -webkit-transition: all 170ms ease 0s;
    -moz-transition: all 170ms ease 0s;
    -ms-transition: all 170ms ease 0s;
    -o-transition: all 170ms ease 0s;
  }

  .mobile-modal.open-modal {
    bottom: 0;
    transition: all 350ms ease 0s;
    -webkit-transition: all 350ms ease 0s;
    -moz-transition: all 350ms ease 0s;
    -ms-transition: all 350ms ease 0s;
    -o-transition: all 350ms ease 0s;
  }

  .find-work-message-section::-webkit-scrollbar {
    width: 0px;
  }

  .payment::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .payment {
    scrollbar-width: none;
    scrollbar-color: white;
  }

  .bold-h2 {
    line-height: 16.94px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -3%;
    color: #000000;
  }

  .bold-h2-subtext {
    line-height: 14.52px;
    font-size: 14px;
    font-weight: 60;
    letter-spacing: -3%;
    color: #707070;
  }

  .profile-box {
    background-color: #e4d7ff;
    box-shadow: 8px 40px 80px -16px #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 767px) {
    .profile-box {
      box-shadow: 5.01px 25.03px 50.05px -10.01px #00000033;
    }
  }

  @media screen and (max-width: 767px) {
    .banner-title {
      font-size: 34px;
      font-weight: 700;
      line-height: 38.73px;
      letter-spacing: -0.03em;
      text-align: center;
    }
  }

  .profile-title {
    background-color: #c6aaff;
    color: white;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .profile-title {
      line-height: 12.51px;
      letter-spacing: -1%;
    }
  }

  .text-gradient {
    background: linear-gradient(90deg, #ff43d6 25.5%, #a660ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .footer-space {
    height: calc(100vh - 45px);
  }

  .home-banner {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  @media screen and (max-width: 767px) {
    .footer-space {
      height: calc(100vh - 69px);
    }
  }

  .nav-space {
  }

  @media screen and (max-width: 767px) {
    .nav-space {
      height: calc(100vh - 46px);
    }
  }

  .horizontal-box {
    background-color: white;
    border-radius: 16px;
    height: calc(100vh - 160px);
  }

  @media screen and (max-width: 767px) {
    .horizontal-box {
      background-color: white;
      border-radius: 16px;
      height: calc(100vh - 90px);
    }
  }

  .notification-box {
    height: calc(100vh - 80px);
  }

  @media screen and (max-width: 767px) {
    .notification-box {
      height: calc(100vh - 136px);
    }
  }

  .bg-fit {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: inherit;
    background-clip: border-box;
  }

  .button-shadow {
    box-shadow: 24px -20px 56px 0px #0000000d;
  }

  .user-search-box {
    width: calc(100%);
  }

  .user-search-box-modal {
    width: calc(100% - 32px);
  }

  .circle-div {
    width: 23px;
    height: 23px;
    border-radius: 100%;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    overflow-y: scroll;
  }
}
